/*
// Name of the Site: 2021 Snapchat Assessment - Style.css
// Author: Omair Qazi
// Date: 2021/04/18
//
//
// Purpose: CSS Stylesheet for the Application for Omair Qazi as part of the 2021 LA Tech.org/Snapchat Engineering Assessment.
//
//
// Description: Stylesheet to arrange design for 2021 Snapchat Assessment.
//
//
// Date Modified: 
// Mod Author: 
// Mod Reason: 
*/


/* Style for collapsible menu row */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #555;
}

/* Collapsible Menu Status: Before */
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


/* Collapsible Menu Status: After */
.active:after {
    content: "\2212";
}
  
  
/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
